b-card {
    display: flex;
    flex-direction: column;
}

b-card_container {
    padding: 25px 16px 20px 16px;
    background: #F8F8F8;
}

b-card__heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 12px;
}

b-card__text {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

b-card__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}