.b-catalog {
    display: grid;
    &_adaptive {
        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }
        @media (max-width: 375px) {
            grid-template-columns: 1fr;
            gap: 16px;
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}