    * {
        margin: 0;
        padding: 0;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    /* --------------TOP--------------------  */
    
    .top {
        background: #222222;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        box-sizing: border-box;
    }
    
    .logo_img {
        margin-right: 40px;
    }
    
    .right_img {
        padding-right: 33px;
    }
    
    .bay {
        position: relative;
    }
    
    .bay span {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background: #f16d7f;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -8px;
        top: -19px;
        font-family: Lato, sans-serif;
        font-size: 12px;
        line-height: 19px;
    }
    
    .secondPartTopBackground {
        background: #F1E4E6;
    }
    
    .secondPartTop {
        display: flex;
    }
    
    .manTop_img {
        margin-right: 63px;
        width: 50%;
    }
    
    .theBrand_img {
        display: flex;
        align-self: center;
        width: 50%;
    }
    /* .rectangleTop {
        margin-top: 290px;
        padding-right: 12px;
        margin-bottom: 382px;
        background: #F16D7F;
        margin-right: 16px;
    } */
    /* .heading_top {
        align-items: center;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
        width: 378px;
    } */
    /* -------------------MainCatalog------------------------ */
    
    .mainCatalog {
        display: grid;
        gap: 30px;
        margin-top: 65px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .accesories {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .forWomen {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    .second_img {
        position: absolute;
    }
    
    .forMen {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    .forKids {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    .accesories {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    /* ------------Fetured Items------------------------- */
    
    .futuredItems {
        margin-top: 96px;
    }
    
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headingFeturedItems {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }
    
    .descriptionHeadingFeturedItems {
        margin-top: 6px;
        margin-bottom: 48px;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
    
    .catalog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    
    .containerCrads {
        padding-top: 25px;
        padding-left: 16px;
        padding-right: 29px;
        padding-bottom: 20px;
        background: #F8F8F8;
    }
    
    .cardHeading {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        padding-bottom: 12px;
    }
    
    .cardText {
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        padding-bottom: 18px;
    }
    
    .cardPrice {
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
    
    .conainerMainCatalogButton {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        /* flex-direction: column;
        align-items: center; */
    }
    
    .mainCatalogButton {
        padding: 14px 38.5px;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        border: 1px solid #FF6A6A;
        text-decoration: none;
    }
    /* Footer */
    
    .footer {
        margin-top: 95px;
        background: #222224;
    }
    
    .firstPartFooter {
        padding-top: 103px;
        padding-bottom: 104px;
        display: flex;
        justify-content: space-between;
    }
    
    .deliverSalseQuality {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Delivery_img {
        padding-bottom: 28px;
    }
    
    .headingfirstPartFooter {
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        padding-bottom: 16px;
    }
    
    .textfirstPartFooter {
        width: 300px;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
    
    .Sales_img {
        padding-bottom: 19px;
    }
    
    .Quality_img {
        padding-bottom: 25px;
    }
    
    .secondPartFooterBackground {
        background-image: url(img/imgSecondPartFooterBackground.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .secondPartFooter {
        display: flex;
        justify-content: space-between;
    }
    
    .faceSecondPartFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 97px;
        padding-bottom: 126px;
    }
    
    .secondPartFace_img {
        margin-bottom: 30px;
    }
    
    .textSecondPartFace {
        width: 359px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
    
    .italic {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        font-style: italic;
    }
    
    .subscribeSecondPartFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 156px;
    }
    
    .textBold {
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
    
    .textSubscribeSecondPartFooter {
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
        margin-bottom: 32px;
    }
    
    .email {
        padding-left: 22px;
        padding-right: 64px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #222224;
        opacity: 0.67;
        border: none;
        background: #E1E1E1;
        height: 49px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        outline: none;
    }
    
    .buttonSubscribe {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;
        background: #F16D7F;
        height: 49px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100px;
        text-decoration: none;
    }
    
    .emailSubscribe {
        display: flex;
    }
    
    .thirdPartFooter {
        display: flex;
        justify-content: space-between;
    }
    
    .textCopyRight {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .socialNetwork {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 7px;
    }
    
    @media (max-width: 768px) {
        .menu {
            padding-left: 32px;
            padding-right: 32px;
        }
        .rightPartMenu {
            padding-right: 32px;
        }
    }